/*@import "~antd/dist/reset.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #bf0018;
  --primary-hover-color: #a50015;
}

.custom-button {
  color: white !important;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.custom-button:hover,
.custom-button:focus {
  background-color: var(--primary-hover-color) !important;
  border-color: var(--primary-hover-color) !important;
  color: white !important;
}

.ant-spin-dot-item {
  background-color: var(--primary-color) !important;
}

.ant-upload,
.ant-upload-select {
  width: 350px !important;
  height: 350px !important;
}